* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  font-family: sans-serif;
}
.container {
  width: 70%;
  height: 600px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}
#btn-new-game {
  position: absolute;
  width: 170px;
  border-radius: 40px;
  font-size: 17px;
  border: none;
  height: 50px;
  top: 35px;
  left: 42%;
  background-color: #ffffffa6;
}
#dice {
  position: absolute;
  font-size: 70px;
  top: 30%;
  left: 48.2%;
}
#btn-roll-dice {
  width: 150px;
  height: 50px;
  border-radius: 34px;
  font-size: 16px;
  border: none;
  background-color: #ffffffa6;
  position: absolute;
  bottom: 25%;
  left: 43%;
}
#btn-hold {
  width: 150px;
  height: 47px;
  border-radius: 34px;
  font-size: 16px;
  border: none;
  background-color: #ffffffa6;
  position: absolute;
  bottom: 12%;
  left: 43%;
}
/**/
