* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}
.container {
  width: 70%;
  height: 600px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);;
  background-color: background-color: rgba(255, 255, 255, 0.35);
}

